# directories
.Rproj.user/
Admin/
analysis/
# include config/
data/
Fieldwork/
Presentations/
QGIS/
# include scripts/
# include shell/
StudyMaterialAndLiterature/
Writing/

# files
*.Rhistory
*.err
*.out
config/config_local.R
Scripts/Processing/ExploreRasterData.R
