# directories
Admin/
data/
Scripts/QGIS/
Fieldwork/
Presentations/
StudyMaterialAndLiterature/
.Rproj.user/

# specific output directory
# data/*
# !data/gjamTime_outputs/

# files
*.Rhistory
*.err
*.out
Scripts/Processing/ExploreRasterData.R
